<%- include('../partials/header') %>
<h2>Project Details</h2>
<table id="show-page">
    <thead>
        <tr>
            <th>Project Name: </th>
            <th>Type: </th>
            <th>Source: </th>
            <th>Status: </th>
        </tr>
    </thead>
    <tbody>
        <% projects.forEach(function(p) { %>
            <tr>
              <td><%= p.name %></td>
              <td><%= p.type %></td>
              <td><%= p.sourceLink %></td>
              <td><%= p.status %></td>
        </tr>
    </tbody> 
</table>