<%- include('../partials/header') %>
    <h1 id="libraryheader" >Library</h1>
<% projects.forEach(function(p) { %>
  <div class="card">
    <div class="container">
      <h4 id="card-title" ><%= p.name %></h4>
      <p class="cardp">Type: <%= p.type %></p>
      <p class="cardp">Status: <%= p.status %></p>
      <a class="carda" href="/projects/<%= p._id %>">Project Details</a>
      <form class="cardbutton" action="/projects/<%= p.id %>?_method=DELETE"
        id="delete-form" method="POST">
        <button class="button" type="submit">delete project</button>
      </form>
    </div>
  </div>     
  <% }) %>

<%- include('../partials/footer') %>