<%- include('../partials/header') %>
    <h1>Library</h1>
    <table id="list">
        <thead>
          <tr>
            <th>Project Name:</th>    
            <th>Type:</th>
            <th>Source:</th>
            <th>Status:</th>
          </tr>
        </thead>
        <tbody>
            <% projects.forEach(function(p) { %>
                <tr>
                  <td><%= p.name %></td>
                  <td><%= p.type %></td>
                  <td><%= p.sourceLink %></td>
                  <td><%= p.status %></td>
                  <td>link to detail view with supplies will go here</td>
                </tr>
            <% }) %>
          </tbody>
        </table>
</body>
</html>