<%- include('../partials/header') %>
<h4 id="stash-header">Your Stash</h4>
<div class="stash">
    <div class="stash-container">
        <div id="stash-form">
            <form method="POST" action="/projects/stash" autocomplete="off">
            <label>Add New Stash Item:</label>
            <br></br>
            <label>It is a Tool?</label> 
                <select name="type" required>
                    <option value=""></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select> 
                <br></br>   
            <label>Description</label>
                <input type="text" name="description" required>
                <br></br>
            <label>Do you already have it?</label>      
                <select name="own" required>
                    <option value=""></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <br></br>
                <label>How much do you need?</label>
                    <input type="text" name="amount" required>
                <br></br>    
            <button class="button" type="submit">Add Item</button>
            </form>
            </div>
        <br></br>
        <div id="stash-list">
            <% if (stashes.length) { %>
                <table>
                    <h4>Stash Inventory</h4>
                    <thead>
                        <tr>
                            <th>Type:</th>
                            <th>Description:</th>
                            <th>Amount:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% stashes.forEach(function(s) { %>
                            <tr>
                                <td><%= s.type %></td>
                                <td><%= s.description %></td>
                                <td><%= s.amount %></td>
                            </tr>
                    <% }) %>
                    </tbody>
                </table>
                <% } else { %> 
                <h4>Add items to your stash with the form to the left</h4>
                <% } %>
            </div>
        </div>    
    </div>   
    <br></br> 
    
<%- include('../partials/footer') %>