<%- include('../partials/header') %>
<h2>Update Project</h2>
<br></br>
<p><%= project.name %></p>
<br></br>
<form id="update-project-form" action="/<%= project._id %>?_method=PUT" method="POST">
    <label>Project Name:</label>
        <input type="text" name="name" required>
        <br></br>
        <label>Method:</label>
        <select name="type" required>
            <option value=""></option>
            <option value="knit">Knit</option>
            <option value="crochet">Crochet</option>
            <option value="spin">Spin</option>
            <option value="weave">Weave</option>
        </select>
        <br></br>
        <label>Source:</label>
        <input type="text" name="sourceLink" required>
        <br></br>
        <label>Status:</label>
        <select name="status" required>
            <option value=""><%= project.status %></option>
            <option value="waiting">Thinking about it...</option>
            <option value="started">Started</option>
            <option value="finished">Finished</option>
            <option value="on-hold">On Hold</option>
        </select>
        <br></br>
        <input type="submit" value="Update">
   </form>
   <%- include('../partials/footer') %>